.header {
  padding: auto;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
h1 {
  margin-left: 30px;
  font-size: 50px;
}
.like-btn1 {
  margin: 5px 15px 10px 30px;
}
.buttons {
  gap: 10px;
  display: flex;
  height: 30px;
  padding: 20px;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
}
.search {
  height: 25px;
  width: 220px;
}
.select {
  height: 25px;
  width: 220px;
}
.country-list {
  display: inline-block;
}
.list-item {
  background-color: rgb(185, 245, 73);
  padding: 10px 5px;
  border-radius: 10px;
  width: 250px;
  list-style: none;
}
h3 {
  margin-left: 30px;
}
